<md-card class="md-card__bottom-spacing">
  <h1>Angular 2 Ngrx Effect Chaining / Firebase Logout Example</h1>
</md-card>

<md-card class="regular-text md-card__bottom-spacing">
  <span>
    Authenticated: {{isAuthenticated}}
  </span>
  <br><br>
  <span>
    Jim is {{adjectiveForJim}}.
  </span>
</md-card>

<md-card class="md-card__bottom-spacing buttons-card">

  <button md-raised-button class="good-btn"
          *ngIf="!isAuthenticated"
          (click)="signInClick.emit()">Login
          </button>

  <button md-raised-button
          *ngIf="isAuthenticated"
          class="good-btn" (click)="signOutClick.emit()">Fun Time Logout
          </button>

  <button md-raised-button class="bad-btn"
          *ngIf="isAuthenticated"
          (click)="signOutBadlyClick.emit()">Bad News Logout
          </button>
</md-card>
